<div class=particles-wrapper>
  <app-particles></app-particles>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  <!-- navbar -->
  <div class="container">
    <div class="row">
      <svg viewBox=" 0 0 1900 300">
        <symbol id="s-text">
          <text text-anchor="middle" x="50%" y="80%">Welcome to my webpage</text> 
        </symbol>
        <g class="g-ants">
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
        </g>
      </svg>
    </div>
  </div>
  <div class = "about">
    <p>
      Hi, my name is Zahin Hasan Prangon. I am studying Computer Science with a minor in Business Adminsitration and Mathematics. I aspire to be a full-stack web developer. Hit me up with <a href="">message</a> to talk about javascript and soccer. 
    </p>
  </div>
  <div class="row">
    <app-panel></app-panel>
  </div>
</div>
